%h1 Editar Espacio

%p
  Para editar un espacio siga estos pasos:
  %ol
    %li Seleccione el item Espacios en el menu superior
    %li Identifique el espacio a editar y seleccione Editar en la columna de acciones
    %li Edite los datos que desee (vea Atributos para mas detalles)
    %li Seleccione Guardar