%h1 Crear Espacio

%p
  Para crear un espacio siga estos pasos:
  %ol
    %li Posicione el cursor sobre el item Espacios en el menu superior y seleccione Nuevo Espacio
    %li Complete los datos (vea Atributos para mas detalles)
    %li Seleccione Guardar

%p
  Alternativamente puede acceder a la lista de espacios haciendo click en el item Espacios
  del menu principal y luego seleccionar la opcion Nuevo Espacio al final de la lista.

%p
  Vea la seccion Importar para detalles sobre como importar espacios.