%h1 Espacios

%p
  Los espacios sirven como punto de calculo para las colisiones de eventos en Distroaulas.
  Los eventos se pueden asociar a un espacio formando un calendario para el espacio libre
  de colisiones.

%p
  Asi mismo, los espacios representan la disponibilidad fisica de las instalaciones y
  proveen informacion a los usuarios sobre su estado y tipo.