%h1 Ver Espacios

%p
  Hay dos forma de observar un espacio, se puede ver los detalles de un espacio especifico
  o se pueden observar los distintos espacios en un dia determinado, en ambos casos visualizando
  los eventos asociados.

%h3 Ver un espacio especifico

%p
  %ol
    %li Seleccione el item Espacios en el menu superior
    %li Seleccione Ver de la columna de acciones sobre el espacio que desee ver

%p
  La vista de espacio detallada muestra un calendario semanal con los eventos
  asociados. Puede navegar diferentes semanas con los controles disponibles.

%h3 Ver espacios en un dia

%p
  %ol
    %li Seleccione el item Inicio en el menu principal
    %li En la seccion de Filtros especifique una fecha

%p
  Puede tambien especificar los tipos de espacios a mostrar usando la lista desplegable.