%h1 Attributos de Plan

%p
  A continuacion se especifican los atributos que definen un plan:

%table.index
  %tr
    %th Nombre
    %th Tipo
    %th Obligatorio
    %tr
      %td Nombre
      %td Alfanumerico
      %td Si
