%h1 Eliminar un Plan

%p
  Esta accion hace que las carreras asociadas queden huerfanas y no es muy aconsejable.
  Si debe ajustar la informacion del plan, es mas sencillo editarlo. Para eliminar un
  plan siga los siguientes pasos:
  %ol
    %li Posicione el cursor sobre el item Organizacion y seleccione Planes
    %li Identifique el plan a eliminar y seleccione Eliminar en la columna de acciones
    %li Confirme su seleccion en el cuadro que aparece

%p
  Alternativamente puede seleccionar Ver en la lista de planes y a continuacion
  Eliminar en las opciones al final de la pagina.

