%h1 Editar Plan

%p
  Para editar un plan siga los siguientes pasos:
  %ol
    %li Posicione el cursor sobre el item Organizacion en el menu superior y seleccione Planes
    %li Identifique el plan que desee editar y seleccione Editar en la columna de acciones
    %li Edite los datos que desee
    %li Seleccione Guardar

%p
  Alternativamente puede seleccionar Ver en la lista de planes y a continuacion Editar en las
  opciones al final de la pagina
