%h1 Planes

%p
  Asi como las carreras agrupan materias, los planes agrupan carreras, y el objetivo
  del objeto Plan es meramente organizativo, dado que Distroaulas esta modelado
  sobre un entorno universitario.