%h1 Ver Plan

%p
  Para ver los datos de un Plan siga los siguientes pasos:
  %ol
    %li Posicione el cursor sobre el item Organizacion en el menu superior y seleccione Planes
    %li Seleccione Ver en la columna de acciones sobre el plan que desee ver
