%h1 Atributos de Usuario

%p
  Los atributos definidos para los usuarios son los siguientes:

%table.index
  %tr
    %th Nombre
    %th Tipo
    %th Obligatorio
    %tr
      %td e-Mail
      %td Alfanumerico
      %td Si
    %tr
      %td Contraseña
      %td Alfanumerico
      %td Si
    %tr
      %td Nombre de Usuario
      %td Alfanumerico
      %td Si
    %tr
      %td Nombre Completo
      %td Alfanumerico
      %td No
    %tr
      %td Rol
      %td Opciones Predefinidas
      %td Si
