%h1 Eliminar Usuarios

%p
  La eliminacion de usuarios no tiene ningun otro impacto sobre el sistema. Para eliminar
  un usuario siga estos pasos:
  %ol
    %li Posicione el cursor sobre el item Otros en el menu superior y seleccione Usuarios
    %li Identifique el usuario a eliminar y seleccione Eliminar en la columna de acciones
    %li Confirme su seleccion en el cuadro que aparece

