%h1 Editar Usuario

%p
  Para editar un usuario siga estos pasos:
  %ol
    %li Posicione el cursor sobre el item Otros en el menu superior y seleccione Usuarios
    %li Identifique el usuario a editar y seleccione Editar en la columna de acciones
    %li Edite los datos que desee (vea Atributos para mas detalles)
    %li Seleccione Guardar