%h1 Editar Perfil

%p
  Esta accion es muy similar a Editar Usuario. La diferencia radica en que Editar Usuario
  es una accion que los administradores podran ejecutar sobre otros usuarios y Editar Perfil
  le da a cualquier usuario la posibilidad de editar su propia informacion. Para editar el
  perfil siga estos pasos:
  %ol
    %li Posicione el cursor sobre el item Otros en el menu superior y seleccione Datos Personales
    %li Seleccione Editar Datos en las opciones al final de la pagina
    %li Edite sus datos
    %li Ingrese su contraseña actual
    %li Seleccione Actualizar

%p
  %b Nota:
  Si desea cambiar su contraseña puede hacerlo ingresandolas durante la edicion de perfil. Los
  administradores y operadores podran hacerlo tambien con la opcion Cambiar Contraseña en
  la lista de usuarios.

%p
  Para los usuarios que no tengan el rol de administrador ni de operador, en el menu
  principal aparecera una opcion Perfil. Esta opcion es la misma que Datos Personales en
  los pasos anteriores y se puede editar la informacion de la misma manera.