%h1 Crear Usuario

%p
  Para crear un usuario debe ser administrador. Siga estos pasos para crear un usuario:
  %ol
    %li Posicione el cursor sobre el item Otros en el menu superior y seleccione Usuarios
    %li Seleccione Nuevo Usuario
    %li Complete los datos (vea Atributos para mas detalles)
    %li Especifique un rol (vea Roles para mas detalles)
    %li Seleccione Guardar