%h1 Usuarios

%p
  Distroaulas implemente un sistema de acceso de usuarios para poder definir quienes
  trabajan sobre el sistema, quienes lo administra y quienes consultan informacion.

%p
  Los usuarios publicos pueden registrarse en el sitio y acceder a la informacion
  general del sitio, sin embargo no podran editar nada mas que su perfil.