%h1 Cambiar Contraseña

%p
  Esta accion esta disponible solo para administradores y operadores. Para el caso de estos
  ultimos, solo podran ejecutar la accion sobre su contraseña y no podran afectar otros usuarios.
  Para cambiar una contraseña siga estos pasos:
  %ol
    %li Posicione el cursor sobre el item Otros en el menu superior y seleccione Usuarios
    %li Identifique el usuario a editar y seleccione Cambiar Contraseña
    %li Ingrese una contraseña nueva
    %li Seleccione Cambiar
