%h1 Acceso al Sitio

%p
  Todos los usuarios registradores podran acceder al sitio utilizando su e-Mail o nombre de
  usuario en conjunto con su contrase単a. El acceso al sitio se ubica en el menu superior.
  Cuando no haya ingresado al sitio y lo visite por primera vez, en el menu superior estara
  disponibe la opcion Ingresar que lo llevara al formulario de ingreso. Si ha olvidado su
  contrase単a puede reestablecerla con la opcion "Olvido su contrase単a?" en el formulario de
  ingreso.

%p
  Si aun no tiene credenciales para acceder, puede registrar una cuenta usuario haciendo
  click en la opcion Registrarse que aparece en el formulario de ingreso. El sitio no
  requiere verificacion, pero si ingresa un mail invalido, no podra reestablecer su
  contrasea単a.

%p
  Una vez haya ingresado, podra cerrar su session seleccionando la opcion Salir en el menu
  superio.