%h1 Ver Usuario

%p
  Para ver un usuario siga estos pasos:
  %ol
    %li Posicione el cursor sobre el item Otros en el menu superior y seleccione Usuarios
    %li Seleccione la opcion Ver en la columna de acciones sobre el usuario que desee ver,

%p
  Alternativamente puede ver sus datos personales accediendo a Datos Personales en el menu
  Otros. Los usuarios que no sean administradores u operadores podran llevar a cabo esto
  seleccionando la opcion Perfil en el menu superior.