%h1 Registrarse

%p
  En la nueva version de Distroaulas se opto por permitir el registro voluntario de nuevas
  cuentas. Estos usuarios se crearan con el rol Usuario (vea Roles para mas detalles) por
  defecto y podran consultar informacion general en el sitio. Solo podran editar sus datos
  personales.

%p
  Para registrarse, los usuarios deben acceder al formulario de ingreso haciendo click en
  Ingresar en el menu superior. A continuacion deberan hacer click en Registrarse y completar
  el formulario con sus datos. No se requiere verificacion, el e-Mail sera usado para
  notificaciones o para recuperar contraseñas.