%h1 Exportar Datos

%p
  Dado que algunos objetos que se importan requieren un objeto asociado que debe existir
  en la base de datos antes de crear el objeto importado, es posible exportar los datos
  de los objetos existentes. Esto le permite facilitar el armado del archivo que va a
  importar y evitar errores de tipeo.

%p
  Para exportar datos desde Distroaulas seleccione "Exportar..." en el menu Otros y a
  continuacion seleccione el objeto que desee exportar. Esto generara una descarga
  de un archivo que podra guardar en su computadora para luego consultarlo para
  las importaciones o como copia de seguridad.