%h1 Formatos de Archivo

%p
  Actualmente la importacion/exportacion de datos se realiza mediante hojas de calculo
  de Microsoft Excel, por conveniencia de uso de estos archivos.

%p
  Las importaciones solo se podran realizar con formaro XLS de Microsof Excel. Cuando
  genere el documento para importar, asegurese de guardarlo como documento de Office
  2003 o anterior, de lo contrario se producira un error durante la importacion.

%p
  En el caso de las exportaciones, Distroaulas genera archivos XLSX de Microsoft Excel
  2007 y recientes.

%p
  Las aplicaciones mas conocidas para trabajar con estos archivos son Microsoft Excel,
  Open Office y Libre Office (nuneva version de Open Office). Estas dos ultimas aplicaciones
  permiten trabajar con formato XLS y XLSX. Si opta por utilizar Microsoft Excel, se
  recomienda utilizar la version 2007 al menos, ya que permite generar archivos XLS asi como
  leer archivos XLSX. Las nuevas versiones de Microsoft Office tambien permiten trabajar con
  ambos tipos de archivos.