%h1 Importacion/Exportacion

%p
  Como nueva caracteristica, Distroaulas ahora permite importar o exportar datos para
  facilitar la carga de datos al sistema en momentos iniciales, o para realizar copias
  de seguridad que luego se pueden importar.

%p
  Vea Formatos de Archivo par adetalles en los formatos de archivo que se pueden utilizar.
