%h1 Obtener Plantillas

%p
  Para facilitar el armado del archivo de importacion, Distroaulas provee plantillas
  con las columnas necesarias para que usted complete.

%p
  Para obtener estas plantillas, acceda a la seccion de importacion en el menu Otros y
  seleccione el objeto del cual desea obtener la plantilla. A continuacion seleccione
  Descargar Plantilla. Guarde el documento en su computadora y abralo con alguna
  aplicacion que trabaje con hojas de calculo de Microsoft Excel.

%p
  Tenga en cuenta lo siguiente cuando descargue una plantilla:
  %ul
    %li No altere el orden de las columnas.
    %li Los campos con asterisco (*) son obligatorios, si alguno falta se ignorara el registro.
    %li Solo la primera hoja sera leida, las demas seran ignoradas.
    %li Procure redactar correctamente.
    %li Las mayusculas y minusculas son diferenciadas.
    %li Las filas vacias se ignoran.

%p
  Finalmente, solo se pueden importar archivos XLS. Si descarga una plantilla para completar
  asegurse de guardarla en este formato. Vea tambien la Formatos de Archivo para mas detalles.