%h1 Eliminar Tipo de Espacio

%p
  Al eliminar un tipo de espacio, los espacios asociados quedaran huerfanos. Es mas
  sencillo editarlo. Para eliminar un espacio siga estos pasos:
  %ol
    %li Posicione el cursor sobre el item Espacios en el menu superior y seleccione Tipos de Espacio
    %li Identifiue el tipo de espacio que desee eliminar y seleccione Eliminar en la columna de acciones
    %li Confirme su seleccion en el cuadro que aparece
