%h1 Editar Tipo de Espacio

%p
  Para editar un tipo de espacio siga estos pasos:
  %ol
    %li Posicione el cursor sobre el item Espacios en el menu superior y seleccione Tipos de Espacios
    %li Identifique el tipo de espacio que desee editar y seleccione Editar en la columna de acciones
    %li Edite los datos que desee (vea Atributos para mas detalles)
    %li Seleccione Guardar

