%h1 Crear Tipo de Espacio

%p
  Para crear un tipo de espacio siga estos pasos:
  %ol
    %li Posicione el cursor sobre el item Espacios en el menu superior y seleccione Nuevo Tipo
    %li Complete los datos (vea Atributos para mas detalles)
    %li Seleccione Guardar

%p
  Alternativamente puede seleccionar Tipos de Espacios en el menu superior y a continuacion
  Nuevo Tipo de Espacio en las opciones al final de la lsita.

%p
  Vea la seccion Importar para mas detalles sobre como importar tipos de espacios.