%h1 Tipos de Espacio

%p
  Los tipos de espacio no son mas que categorias para organizar los espacios. En la mayoria
  de las situaciones, las instalaciones poseeran diferentes tipos de espacios que
  determinan el tipo de actividad que se llevan a cabo en esos espacios.

%p
  Los tipos de espacios tambien permiten ver una vista mas puntual de los eventos en la
  pagina principal.