- title "Space Type"

%p
  %strong Name:
  = @space_type.name

%p
  = link_to "Edit", edit_space_type_path(@space_type)
  |
  = link_to "Destroy", @space_type, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", space_types_path
