- title t('.title')

= render 'form'

%p
  = link_to t('.links.show'), @space, :class => "ui-corner-all button" if can? :read, @space
  = link_to t('.links.back'), spaces_path, :class => "ui-corner-all button" if can? :read, Space
