%h1 Atributos de Carrera

%p
  A continuacion se definen los atributos de una carrera:

%table.index
  %tr
    %th Nombre
    %th Tipo
    %th Obligatorio
    %tr
      %td Nombre
      %td Alfanumerico
      %td Si
    %tr
      %td Nombre Corto
      %td Alfanumerico
      %td Si
    %tr
      %td Plan
      %td Objeto
      %td Si

%p
  El nombre corto es meramente una alternativa de visualizacion, ya que el nombre original
  podria ser muy extenso en algunas partes del sistema.