%h1 Eliminar Carrera

%p
  Al eliminar una carrera, las materias asociadas quedaran huerfanas. No es aconsejable
  llevar a cabo esta tarea. Es mas sencillo editar la carrera para ajustarla a lo necesario.
  Para eliminar una carrera sigua los siguientes pasos:
  %ol
    %li Posicione el cursor sobre el item Organizacion y seleccione Carreras
    %li Identifique la carrera que desea eliminar de la lista y seleccione Eliminar en la columna de acciones
    %li Confirme su seleccion en el cuadro que aparece

%p
  Alternativamente puede seleccionar Ver en la columna de acciones y a continuacion seleccionar Eliminar
  en las opciones al final de la pagina.