%h1 Editar Carrera

%p
  Para editar una carrera sigua los siguientes pasos:
  %ol
    %li Posicione el cursor sobre el item Organizacion en el menu superior y seleccione Carreras
    %li Identifique la carrera a editar de la lista y seleccione Editar en la columna de Acciones
    %li Edite los datos que desee
    %li Seleccione Guardar

%p
  Alternativamente puede seleccionar Ver en la lista de carreras y a continuacion Editar en las
  opciones al final de la pagina.