%h1 Crear Carrera

%p
  Para crear una carrera sigua los siguientes pasos:
  %ol
    %li Posicione el cursor sobre el item Organizacion en el menu superior y seleccione Carreras
    %li Seleccione Nueva Carrera en las opciones al final de la lista
    %li Complete los datos (vea Atributos para mas detalles)
    %li Seleccione Guardar

%p
  Vea tambien la seccion Importar para detalles sobre como importar datos a Distroaulas.