%h1 Carreras

%p
  Dado que Distroaulas se modelo en base a un entorno universitario, la existencia de
  carreras facilita la organizacion de las materias para ser asociadas a los eventos.
  Este objeto tiene solo el proposito de facilitar organizar la estructura de la
  organizacion.

%p
  Una carrera agrupa un conjunto de materias de diferentes años. Puede verse como un
  contenedor general de materias. Si en la organizacion que se utiliza Distroaulas
  no hay carreras, puede utilizarse igual como agrupador de materias.