%h1 Ver Carrera

%p
  Hay dos formas de visualizar carreras, se puede ver la carrera especifica o se puede
  ver la lista de carreras de un Plan.

%h3 Ver una carrera especifica

%p
  %ol
    %li Posicione el cursor sobre el item Organizacion en el menu superior y seleccione Carreras
    %li Seleccione la opcion Ver en la columna de Acciones sobre la carrera que desea ver

%h3 Ver carreras de un plan

%p
  %ol
    %li Posicione el cursor sobre el item Organizacion en el menu superior y seleccione Plan
    %li Identifique el plan al que pertenece la carrera y seleccione Ver en la columna de acciones

%p
  Asimismo, cuando ve la informacion de un Plan, se muestra una lista de carreras contenidas en
  ese plan y tambien podra realizar las acciones que desee sobre esas carreras.