- title t('.title')

= render 'form'

%p
  = link_to t('.links.show'), @career, :class => "ui-corner-all button" if can? :read, @career
  = link_to t('.links.back'), careers_path, :class => "ui-corner-all button" if can? :read, Career
