- title "Careers"

= render :partial => 'list', :locals => {:careers => @careers}

= will_paginate @careers
%p= link_to "New Career", new_career_path, :class => "button ui-corner-all" if can? :create, Career
