- title t('.title')

= render 'form'

%p
  = link_to t('.links.show'), @matter, :class => "ui-corner-all button" if can? :read, @matter
  = link_to t('.links.back'), matters_path, :class => "ui-corner-all button" if can? :read, Matter
