- title "Edit Matter"

= render 'form'

%p
  = link_to "Show", @matter, :class => "ui-corner-all button" if can? :read, @matter
  = link_to "View All", matters_path, :class => "ui-corner-all button" if can? :read, Matter
