- title 'Import Careers'

%p
  = link_to 'Download Template', '/import_templates/careers.xls', :target => 'blank'

- semantic_form_for :careers, :url => importer_upload_careers_path, :html => {:multipart => true} do |f|
  - f.inputs do
    = f.input :file, :as => :file, :required => true
  - f.buttons do
    = f.commit_button 'Upload'