- title 'Import Matters'

%p
  = link_to 'Download Template', '/import_templates/matters.xls', :target => 'blank'

- semantic_form_for :matters, :url => importer_upload_matters_path, :html => {:multipart => true} do |f|
  - f.inputs do
    = f.input :file, :as => :file, :required => true
  - f.buttons do
    = f.commit_button 'Upload'