Distroaulas es un sistema que le permite organizar eventos dentro de un edificio y poder distribuirlos
segun la disponibilidad de espacios fisicos. Esta herramienta cuanta con diferentes formas de ordenar
la informacion y mostrarla para facilitar la creacion de eventos sin coliciones.
%br
Ademas, posee diferentes formas para importar datos pre-existentes al sistema, de manera sencilla por
medio de hojas de calculo.
%br
Esta herramienta esta orientada a escuelas y universidades, cuyas entidades poseen objetos como materias,
planes de carreras, carreras y demas.