%h1 Caracteristicas

%p
  Distroaulas es un sistema que trabaja con eventos temporales y espacios fisicos, tomando este
  ultimo como punto de calculo de colisiones. De esta forma se pueden armar y administrar eventos
  en espacios fisicos evitando que se superpongan.

%h3 Caracteristicas Generales

%p
  %ul
    %li Manejo de eventos
    %li Visualizacion de los eventos de diferentes formas
    %li Generacion de calendarios para imprimir o exportar
    %li Manejo de espacios fisicos
    %li Administracion de usuarios
    %li Acceso publico a usuarios
    %li Roles y permisos de usuarios
    %li Registro de usuarios
    %li Perfil de usuarios
    %li Recuperacion de contraseñas
    %li Soporte para traducir el sitio a otros lenguajes
    %li Uso de zona horaria correspondiente
    %li Manejo de datos organizacionales
    %li Asociasion entre eventos y espacios
    %li Calculo de colisiones por espacio
    %li Eventos recurrentes y reglas de recurrencia
    %li Uso de RiCAl con posibilidad de exportar a iCalendar
    %li Importacion y exportacion de datos
    %li Documentacion completa del sistema
    %li Interface grafica amplia y sencilla
    %li Vistas semanales de eventos
    %li Vistas mensuales de eventos
    %li Uso ampliado de AJAX y JavaScript para lograr mas dinamismo en el sitio
    %li Sencillo de utilizar
    %li Facil de instalar
    %li Facil de configurar
    %li Soporte para diferentes bases de datos

