%h1 Notas Sobre esta Ayuda

%p
  Antes de que prosiga a leer el resto de la documentacion, es necesario introducir un poco el lenguaje
  que se usa para mayor entendimiento de la documentacion. Considere este apartado como un glosario
  y notas utiles para leer la documentacion.

%p
  En la documentacion se hablaran de objetos. Estos representan los elementos del sistema. Planes, Usuarios,
  Eventos, todos son objetos, con atributos que los caracterizan. En cada seccion de la documentacion encontrara
  sub-secciones con documentacion sobre los atributos de cada objeto, las acciones que se pueden llevar a cabo
  y una descripcion general del objeto.

%p
  Cuando lea sobre los atributos de los componentes de Distroaulas tenga a mano la siguiente referencia sobre
  los tipos de datos:
  %ul
    %li Objeto: otro elemento del sistema existente en la base de datos.
    %li Opciones predefinidas: lista de opciones definidas en el sistema que no se pueden alterar.
    %li Alfanumerico: letras y/o numeros.
    %li Numerico: solo numeros.
    %li Fecha y Hora: conjunto entre el dia, el mes, el año, la hora y los minutos.
    %li Fecha: dia, mes y año.
    %li Hora: hora y minuto.
    %li Binario: generalmente una casilla de verificacion que se puede tildar o destildar.

%p
  Si encuentra algun problema en el funcionamiento del sistema o errores en la interface visual, tanto
  como elementos mal ubicados o errores de ortografia, haga click en Reportar Bug al final de la pagina.
  Esto lo llevara a un sitio adjunto para que pueda explicar el problema. Vea Reportar Bug para mas detalles.

