%h1 Reportar un Bug

%p
  El creador de este sitio ha puesto a disposicion de los usuarios un sistema de seguimiento
  de errores que les permite reportar problemas de cualquier tipo. Este sistema se llama Redmine.
  Si se encuentran problemas en el sitio siga el enlace
  = link_to 'Reportar Bug', 'http://redmine.raykosite.com/projects/distroaulas', :target => '_blank'
  que encontrara al pie de la pagina en cualquier parte del sitio.

%p
  Antes de lanzarse a crear una peticion, verifique que esta ejecutando la operacion correctamente.
  Puede visitar la seccion Ayuda en el menu Otros para obtener mas informacion sobre la operacion
  que desea ejecutar.

%h3 Pasos y Consideraciones Para Reportar un Bug

%p
  Cualquier usuario que desee reportar problemas debe acceder al enlace anteriormente mensionado y
  registrar una cuenta en Redmine. El administrador del sitio les confirmara la cuenta al cabo de
  algunas horas y a partir de ese momento podran subir reportes.

%p
  Para crear un reporte haga click en "Nueva Peticion" (o "New Issue" en ingles) y complete los datos.
  No es necesario que complete todos y cada uno de los datos. Los campos como fecha fin, tiempo estimado
  y similares son opcionales y los manejara el administrador de Redmine. Como minimo
  especifique el tipo de peticion, el tema y la descripcion. Una vez hayan hecho la peticion el administrador
  de Redmine la atendera, completara otros datos de la peticion segun sea necesario y respondera
  al problema. Puede realizar el seguimiento de las peticiones en el mismo Redmine o puede configurar
  su cuenta en Redmine para que le envie correos electronicos con actualizaciones.

%p
  El administrador de Redmine le agradecera que cuando cree una peticion siga las siguientes reglas:
  %ul
    %li Lenguaje claro y descriptivo del problema.
    %li Proveer la mayor informacion posible, como mensajes de error, pasos que se realizaron, datos afectados, etc.
    %li Si desea puede subir uno o mas archivos con datos del error, ya sean capturas de pantalla, mensajes, etc.
    %li Nunca olvide especificar el tipo de peticion

%p
  Las peticiones que no sean suficientemente descriptivas o que resulten erroneas o innecesarias seran rechazadas.
  Se explicitara el motivo en estas situaciones.

%p
  Si lo desea, tambien puede realizar peticiones de mejoras al sitio o de mejoras que no se incluyeron en la version
  lanzada y que serian de utilidad. Este tipo de peticion se conoce como Feature en Redmine.

%p
  Finalmente para mantener orden, las peticiones que sean para reportar problemas tendran mayor prioridad que las
  peticiones de funcionalidades extra.