/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />


//@import compass/reset

@import 'partials/application'
@import 'partials/calendars'
@import 'partials/formtastic'
@import 'partials/formtastic_changes'
@import 'partials/weekly'
@import 'partials/drop_menu'
@import 'partials/jquery-ui-1.8.16.custom'
@import 'partials/jquery.tagit'
@import 'partials/collapsable'

body
  // width: 950px
  width: 100%
  min-width: 950px
  margin-bottom: 25px

#banner
  margin: 0
  padding: 0
  width: 100%
  text-align: center
  #clock
    margin-right: 5px
    float: right
    position: relative
  #user_info
    margin-left: 5px
    float: left

#content
  a.check_free_spaces
    margin-left: 25%
  .pagination
    text-align: center
  padding: 15px
  table.index
    text-align: center
    span
      float: left
    width: 100%
    border: 1px dotted
    border-collapse: collapse
    th
      border: 1px dotted
      background-color: #4b7399
      color: white
    td
      border: 1px dotted
    tr
      &:hover
        background-color: #FDFF87

#docs-list
  width: 185px
  height: 100%
  float: left

#doc-content
  margin-left: 200px

#footer
  margin: auto
  text-align: center
  width: 70%
  border-top: 1px solid
  padding-bottom: 15px

.loading-icon-small
  float: left
  margin-left: 23%
  height: 28px
  display: none

.search-loading-icon-small
  float: left
  height: 28px
  display: none

.button
  background-color: #5970B2
  padding: 3px
  color: white
  text-decoration: none
  &:hover
    background-color: #49A3FF
