%b Lista de temas
%ul
  %li
    = link_to 'Eventos', '/statics/events'
  %li
    = link_to 'Espacios', '/statics/spaces'
  %li
    = link_to 'Acerca de', '/statics/about'
  %li
    = link_to 'Calendarios', '/statics/calendars'