%h1 Indice

%p
  Esta seccion del sitio posee informacion detallada del funcionamiento del sistema. En la lista a la izquiera
  se encuentran diferentes documentos que explican los objetos que el sistema maneja y detalles sobre los
  atributos que contienen.

%p
  Tambien hay una serie de tutoriales que enseñan como llevar a cabo ciertas funciones en el sistema que seran
  de ayuda para familiarizarse con el flujo de trabajo de Distroaulas.

%p
  Tenga en cuenta que se han implementado algunas restricciones para brindar mas coherencia a los datos que
  Distroaulas guarda y opera. Puede visitar la seccion de restricciones para mas detalles sobre las mismas.