%div.week-view
  %table
    %th
      %td
      %td
        Lun
      %td
        Mar
      %td
        Mie
      %td
        Jue
      %td
        Vie
      %td
        Sab
      %td
        Dom
    %tr