- title t('.title')

= render 'form'

%p
  = link_to t('.links.show'), @calendar, :class => "ui-corner-all button" if can? :read, @calendar
  = link_to t('.links.back'), calendars_path, :class => "ui-corner-all button" if can? :read, Calendar
