%h1 Asignar Eventos

%p
  Por medio de esta funcion podra vincular los eventos principales de Distroaulas
  a los equipos. Debido a que los eventos de equipo podrian no comportarse como
  los eventos principales, se han separado. Esto quiere decir que si asigna un
  evento principal a un equipo, el evento de equipo no respondera a las reglas
  de recurrencia del evento principal, y esto es deseable, ya que los equipos
  no necesariamente podrian estar disponibles en algunas ocurrencias del evento
  principal.

%p
  Para asignar eventos al equipo sigua los siguientes pasos:
  %ol
    %li Seleccione el item Equipo en el menu superior
    %li Seleccione Asignar Eventos
    %li Complete todos o algunos de los datos del formulario para buscar los eventos
    %li Si hay resultados se mostraran mas abajo en una lista, si no encuentra eventos, cambie sus criterios de busqueda y repita la busqueda
    %li De la lista de eventos haga click en el evento deseado
    %li Mas abajo aparecera una vista semanal reducida con las ocurrencias del evento y un formulario adicional
    %li Navegue la vista semanal para identificar las ocurrencias que desee asignar al equipo
    %li Seleccione Agregar en la vista semanal para agregar una ocurrencia
    %li Si desea buscar otros eventos y agregar mas ocurrencias vuelva al paso 3 y repita los pasos con otros eventos
    %li Si desea eliminar una ocurrencia solo haga click en la cruz con los datos de la ocurrencia
    %li Al final de la pagina seleccione Asignar para asignar las ocurrencias seleccionadas

%p
  Luego de hacer este proceso, el sitio lo redireccionara a la vista de eventos
  de equipo. En estas condiciones, se monstraran los eventos creados. Si se detectaron
  colisiones, los eventos afectados son ignorados y se le informara este hecho.
  Si desea ver todos los eventos creados del equipo solo refresque la vista.