%h1 Atributos de Equipos

%p
  Los atributos que definen un equipo son los siguientes:

%table.index
  %tr
    %th Nombre
    %th Tipo
    %th Obligatorio
    %tr
      %td Nombre
      %td Alfanumerico
      %td Si
    %tr
      %td Descripcion
      %td Alfanumerico
      %td No
