%h1 Calendario de Equipos

%p
  El calendario de equipos permite visualizar los eventos de equipos de forma global
  asi como la vista principal del sitio. Puede elejir una fecha para ver los eventos
  de ese dia, y verlos en la grilla facilmente. De esta forma podra ver por cada
  equipo, los eventos asociados segun el dia.

%p
  Para acceder al calendario de equipos, haga click en el item Equipos en el menu
  superior y a continuacion en Ver todos los eventos de equipo. Si desea establecer
  una fecha, haga click en el campo fecha, seleccione la fecha deseada y a continuacion
  filtrar.

%p
  Tenga en cuenta que el calendario de equipos no es un calendario editable. Funciona
  igual que la vista principal del sitio, y agrupa todos los eventos de equipo que
  se hayan definido.