%h1 Eliminar Equipo

%p
  Para eliminar un equipo siga los siguientes pasos:
  %ol
    %li Seleccione el item Equipos en el menu superior
    %li Identifique el equipo que desee eliminar y seleccione Eliminar en la lista de acciones
    %li Confirme su seleccion en el cuadro que aparece