%h1 Editar Equipo

%p
  Para editar un equipo siga estos pasos:
  %ol
    %li Seleccione el item Equipos en el menu superior
    %li Identifique el equipo que desee editar y seleccione Editar en la columna acciones
    %li Edite los datos que desee (vea Atributos para mas detalles)
    %li Seleccione Guardar

