%h1 Eventos de Equipo

%p
  Como se explico en la descripcion de equipos, estos tienen sus propios eventos,
  separados de los normales para permitir que se comporten diferente. La vista de
  eventos de equipo le permitira ver los eventos creados para el equipo y una
  vista semanal de los eventos para entenderlos mejor.

%p
  Para ver estos eventos, seleccione Equipo en el menu superior y a continuacion
  seleccione Eventos en la fila del equipo que desee ver.