%h1 Crear Evento

%p
  Asi como puede asignar eventos existentes, puede ocurrir que desee crear otros
  separados de los eventos principales. Puede hacer esto normalmente, sin embargo
  los eventos para equipos no soportan reglas de recurrencia aun, por lo que podra
  crear eventos simples para los equipos. Esto se debe a que se asume que generalmente
  existira un evento principal que sera asignado, por lo generar eventos libres. Es decir
  se crea el evento de la actividad y a continuacion se asigna un equipo a esta actividad.
  Puede utilizar la forma que mas comodo le parezca. La unica diferencia es que al
  asignar eventos, estos respetan las horas del evento principal asignado, mientras que
  al crear un evento independiente solo para el equipo, podra utilizar diferentes horas.
  Asi mismo, los eventos de equipo no son mostrados en la vista principal del sitio, solo
  los podra ver en la seccion de equipos.

%p
  Para crear un evento para un equipo siga los siguientes pasos:
  %ol
    %li Seleccione el item Equipos en el menu superior
    %li Seleccione Crear Evento en la fila del equipo que desee
    %li Complete los datos (fecha, horas de inicio y fin, y nombre)
    %li Seleccione Crear

%p
  Luego de este proceso el sistema lo redireccionara a la vista de eventos de equipo donde
  podra visualizar el evento creado.

%p
  Si desea eliminar un evento, solo seleccione Eliminar en la vista de eventos de equipo.