%h1 Crear Equipo

%p
  Para crear un equipo siga estos pasos:
  %ol
    %li Posicione el cursor sobre el item Equipo en el menu superior y seleccione Nuevo Equipo
    %li Complete los datos (vea Atributos para mas detalles)
    %li Seleccione Guardar

%p
  Alternativamente puede seleccionar Equipo en el menu superior y a continuacion
  seleccionar Nuevo Equipo en las opciones al final de la lista.