%h1 Equipamiento

%p
  Como novedad en Distroaulas 2.0 se introdujo la posibildad de asociar equipos que las
  instalaciones posea a eventos. De esta forma se pueden llevar registros de los equipos
  prestados a los profesores o alumnos para las actividades que realicen.

%p
  Por medio de la seccion Equipos podra crear eventos para el equipo o asignar eventos
  existentes al equipo. Sin embargo, se asume que los eventos del equipo podrian tener
  comportamiento diferente a los eventos normales, por este motivo se han separado estos
  eventos. Cuando desee asignar eventos existentes podra elejir que ocurrencias del evento
  asignar al equipo.

