%h1 Equipamiento

%p
  Como novedad en Distroaulas 2.0 se introdujo la posibildad de asociar equipos que las
  instalaciones posea a eventos. De esta forma se pueden llevar registros de los equipos
  prestados a los profesores o alumnos para las actividades que realicen.

%p
  %b IMPORTANTE:
  Distroaulas aun no implementa la asociacion entre equipos y eventos, aun estamos trabajando
  para lograrlo.