%h1 Eliminar un Evento

%p
  La eliminacion de un evento no tiene efectos colaterales en el sistema. Tenga en cuenta
  que si un evento es recurrente estara eliminando varios eventos por asi decirlo, ya que
  el evento recurrente representa mas de un evento (ocurrencias). Para eliminar un evento
  siga los siguientes pasos:
  %ol
    %li Seleccione el item Eventos en el menu superior
    %li Identifique el evento a eliminar y seleccione Eliminar en la columna de acciones

%p
  Alternativamente puede seleccionar Ver en la lista de eventos y a continuacion seleccionar
  Eliminar en las opciones al final de la pagina.