%h1 Editar Evento

%p
  Para editar un evento es necesario entender como se esta comportando, especialmente
  si usa reglas de recurrencia, de lo contrario se podria generar un comportamiento
  no esperado. Para editar un evento sigua los siguientes pasos:
  %ol
    %li Seleccione el item Eventos en el menu superior
    %li Identifique el evento que desee editar y seleccione Editar en la columna de acciones
    %li Edite los datos que desee
    %li Seleccione Guardar

%p
  Alternativamente puede seleccionar Ver en la lista de eventos y a continuacion seleccionar
  Editar en las opciones al final de la pagina.

%p
  Las situaciones normales de edicion serian agregar excepciones, cambiar de materia, nombre
  o espacio. Generalmente no es necesario modificar la regla de recurrencia si esta bien
  planificada en la creacion de eventos.

%p
  Consulte la informacion de un evento especifico si desea ver las ocurrencias del
  evento en el mes.