%h1 Generar Calendario

%p
  Esta opcion permite especificar un grupo de eventos para mostrarlos en una vista
  semanal y poder ser impresa o capturada para incluir en otros documentos. Esta operacion
  es relativamente sencilla:
  %ol
    %li Seleccione el item Eventos en el menu superior
    %li Seleccione Generar Calendario en las opciones al final de la pagina
    %li Realice una busqueda de los eventos que desea incluir, completando el formulario total o parcialmente
    %li De los resultados que apareceran luego de la busqueda, tilde aquellos eventos que seran incluidos en el calendario
    %li Al final de la lista de eventos, complete todos o algunos datos del formulario, estos especifican como se muestra el evento en la vista semanal
    %li Seleccione Generar
    %li La pagina que aparece a continuacion esta lista para ser impresa. Solo saldra lo que esta incluido en los enlaces "Imprimir esa pagina"

%p
  Cuando se genere el calendario semanal, podra imprimir la pagina para otros usos. Tenga
  en cuenta que se usan imagenes y colores para mostrar el calendario. Al imprimir, asegurese
  de habilitar la impresion de imagenes y colores, y verifique la escala, ya que en muchas
  ocasiones, el navegador escala la pagina para que ocupe toda la hoja. El fondo, el menu,
  el banner y demas cosas que aparecen en el navegador no saldran en la pagina generada.