%h1 Crear Evento

%p
  En Distroaulas se pueden crear diferentes tipos de eventos. A continuacion se
  detallas los pasos para crear eventos de diferentes tipos:

%h3 Crear evento libre

%p
  %ol
    %li Posicione el cursor sobre el item Eventos en el menu superior y seleccione Nuevo Evento
    %li Seleccione un calendario
    %li Ingrese un nombre
    %li Ingrese un responsable a cargo
    %li Especifique la fecha de inicio, y las horas de inicio y fin
    %li Seleccione Guardar

%h3 Crear un evento en un espacio

%p
  %ol
    %li Posicione el cursor sobre el item Eventos en el menu superior y seleccione Nuevo Evento
    %li Seleccione un calendario
    %li Ingrese un nombre
    %li Ingrese un responsable a cargo
    %li Especifique la fecha de inicio, y las horas de inicio y fin
    %li Haga click en "Ver espacios libres segun los datos ingresados"
    %li Seleccione un espacio (si no hay espacios, modifique los datos del paso 5 y repita el paso 6)
    %li Seleccione Guardar


%h3 Crear un evento con una materia asignada
%p
  %ol
    %li Posicione el cursor sobre el item Eventos en el menu superior y seleccione Nuevo Evento
    %li Seleccione un calendario
    %li Seleccione un Plan
    %li Seleccione una Carrera
    %li Seleccione una Materia
    %li Ingrese un nombre
    %li Ingrese un responsable a cargo
    %li Especifique la fecha de inicio, y las horas de inicio y fin
    %li Haga click en "Ver espacios libres segun los datos ingresados"
    %li Seleccione un espacio (si no hay espacios, modifique los datos del paso 8 y repita el paso 9)
    %li Seleccione Guardar

%h3 Crear eventos recurrentes

%p
  La creacion de eventos recurrentes puede contener la logica de cualquiera de los tipos
  de eventos vistos anteriormente. Para llevar a cabo los siguientes pasos, realize alguna
  de las operaciones anteriores y omita el ultimo paso para continuar con los siguientes
  pasos:
  %ol
    %li Seleccione Recurrente
    %li Especifique una fecha y hora para finalizar la repeticion
    %li Especifique una frecuencia
    %li Seleccione Guardar

%p
  Vea la seccion Descripcion para mas detalles sobre las reglas de recurrencia y los
  tipos de eventos que se pueden especificar.