%h1 Ver Eventos

%p
  Dado que los eventos son los datos principales que Distroaulas maneja, hay varias
  maneras de visualizar los eventos. A continuacion se especifican pasos para ver
  eventos:

%h3 Ver evento especifico

%p
  %ol
    %li Seleccione el item Eventos en el menu superio
    %li Identifique el evento que desee ver de la lista y seleccione Ver en la columna de acciones

%h3 Ver los eventos de un calendario

%p
  %ol
    %li Posicione el cursor sobre el item Otros en el menu superior y seleccione Calendarios
    %li Identifique el calendario que contiene los eventos que desea visualizar y seleccione Ver en la columna de acciones

%h3 Ver los eventos de un espacio

%p
  %ol
    %li Seleccione el item Espacios en el menu superior
    %li Identifique el espacio del evento que desee ver de la lista de espacios y seleccione Ver en la columna de acciones

%h3 Ver los eventos de un dia

%p
  %ol
    %li Seleccione el item Inicio en el menu superior
    %li En la seccion de Filtros, haga click en una Fecha y seleccione la fecha que desee ver
    %li Si lo desea puede especificar un espacio