%h1 Calendarios

%p
  Este objeto agrupa varios eventos para ser visualizados. La funcion principal en Distroaulas es
  proveer un ordenamiento a los eventos. Se pueden organizar como un calendario por carrera, o
  utilizar un calendario para los eventos de una parte de la organizacion y otro para eventos
  libres. Distroaulas tambien se puede usar como una agenda basica que podria llevar control
  de las reuniones del personal u otras actividades que se diferencian.

%p
  Una cosa a tener en cuenta, al ver la vista semanal del calendario, esta puede no ser de mucha
  ayuda, depende de como se ingresan y organizan los eventos para un calendario.