%h1 Eliminar Calendario

%p
  La eliminacion de un calendario conlleva la perdida de la asociacion entre los
  eventos contenidos y el calendario mismo. Si sucede esto, los eventos que estaban
  asociados quedaran huerfanos y tendra que manualmente cambiarlos a otro calendario.
  Se recomienda editar el calendario en vez de eliminarlo y crear uno nuevo.

%p
  Para eliminar un calendario siga los siguientes pasos:
  %ol
    %li Posicione el cursor sobre el item Otros en el menu superior y seleccione Calendarios
    %li En la lista identifique el calendario que desee eliminar y seleccione Eliminar en la columna de acciones
    %li Confirme su seleccion en el cuadro que aparece

%p
  Alternativamente puede seleccionar Ver en la lista de calendarios y a continuacion
  seleccionar Eliminar en las opciones que aparecen al final de la pagina.