%h1 Editar Calendario

%p
  Para editar un calendario siga los siguientes pasos:
  %ol
    %li Posicione el cursor sobre el item Otros en el menu superior y seleccione Calendarios
    %li En la lista de calendarios, identifique el calendario que desee editar y seleccione Editar en la columna de acciones
    %li Edite la informacion que desee del calendario
    %li Seleccione Guardar

%p
  Alternativamente, puede seleccionar Ver en la lista de calendarios, y al final
  de la pagina encontrara la opcion Editar.