%h1 Crear Calendario

%p
  Para crear un calendario siga los siguientes pasos:
  %ol
    %li Posicione el cursor sobre el item Otros en el menu superior y seleccione Calendarios
    %li En las opciones al final de la lista, seleccione Nuevo Calendario
    %li Complete los datos (consulte la seccion Atributos para mas informacion sobre los atributos)
    %li Seleccoine Guardar


%p
  Luego de crear un calendario, este aparecera durante la creacion de eventos
  para seleccionarlo y asociarlo al calendario. Si ocurren errores durante la
  creacion del calendario, el sistema le informara que atributos son incorrectos.
