%h1 Ver Calendario

%p
  Para ver un calendario siga los siguientes pasos:
  %ol
    %li Posicione el cursor sobre el item Otros en el menu superior y seleccione Calendarios
    %li En la columna Acciones seleccione la opcion Ver del calendario que desee

%p
  La vista de informacion del calendario contiene una vista semanal de los eventos
  que contiene. Puede avanzar o retroceder semanas con los controles en la parte
  superior e inferior de la vista semanal.

%p
  Tenga en cuenta que en algunos casos la vista semanal no tiene mucho sentido visual
  y los eventos se pueden superponer entre ellos, esto se debe a que las colisiones
  estan a nivel de espacio y no de calendario.