Distroaulas 2.0 Beta - Desarrollado por Matias Toselli - Diseño basado en Nifty-Scaffold
%br
Powered by Ruby on Rails
%br
= link_to t('.bug_report'), 'http://redmine.raykosite.com/projects/distroaulas', :target => '_blank'