%div#welcome_page
  = image_tag 'final-logo.png'
  %p
    Bienvenido a Distroaulas, el sistema que le permite organizar eventos y espacios en su organización.
  %p
    Inicie sesión para comenzar haciendo click en "Ingresar"