- title t('.title')

= render 'form'

%p
  = link_to t('.links.show'), @plan, :class => "ui-corner-all button" if can? :read, @plan
  = link_to t('.links.back'), plans_path, :class => "ui-corner-all button" if can? :read, Plan
