%p= t('.header', :email => @resource.email)

%p= t('.body')
%p= link_to t('.links.reset_pass'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t('.ending')

